body {
    margin: 0;
    padding: 0; 
    overflow-x: hidden; 
    overflow-y: hidden;
}
.navin{
    width: 100vw;
 
    word-spacing: 40px;
    font-size: 40px;
   margin-top: 5px;
   position: relative;
   left: 30%;
    
    
}
.na{
  

   height: 45px;
    border: 2px black hidden;
    width: 580px;
    border-radius: 8%;
    text-align: center;
    
}
.ain{
    background-color: aquamarine;
    border: 2px black solid;
    border-radius: 10%;
    
    height: 10px;
}
a:hover{
    background-color: blanchedalmond;
    color: blue;
}
.navin ul li{
    
    display: inline;
}
ul li a{
    text-transform: uppercase;
    text-decoration: none;
}

.con1{
border: 2px black hidden;
    color:gb(10, 10, 10);
    position: relative;
    left: 0px;
    width: 100vw;
    height: 100vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
 
}
   

.con1 h1{
    color: rgb(247, 2, 2);
    text-align: center;
    text-shadow: blue;
}
p, h1{
    border: 2px black hidden;
    height: fit-content;
    width: 500px;
    padding: 10px;
}
p{
font-weight: bold;
    color: rgb(3, 3, 3);
    background-color: white;
}
h1{
    animation-name: ate1;
    animation-duration: 2s;
    animation-delay: 2s;
   animation-iteration-count: infinite;
   background-repeat: no-repeat;
    font-size: 40px;
    font-family: fantasy;
    
}
@keyframes ate1{
    from{
        opacity:0.4 ;
        
    }
    to{
        opacity: 0.9;
        color: blue;
        background-image: url(./icons8-html-48.png);
    }
}



.con1 p{
    font-size: 23px;

}
.div2{
    margin: 10px;
  
}

.div1{
  width: 40px;
  height: 40px;
    background-image: url(./icons8-html-48.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: ht;
    animation-duration: 3s;

    
}
@keyframes ht{
    0%{
        translate: 0 0;
    }
    25%{
        translate: 0 800px;
    }
    50%{
        translate: 1700px 800px;
    }
    75%{
        translate: 1700px 0;
    }
    100%{
        translate: 0 0;
    }
}
