body {
    margin: 0;
    padding: 0; 
    overflow-x: hidden; }
.navin{
    width: 100vw;
 
    word-spacing: 40px;
    font-size: 40px;
   margin-top: -35px;
   position: relative;
   left: 30%;
    
    
}
.na{
  

   height: 45px;
    border: 2px black hidden;
    width: 580px;
    border-radius: 8%;
    text-align: center;
    
}
.ain{
    background-color: aquamarine;
    border: 2px rgb(4, 58, 236) solid;
    border-radius: 10%;
    
    height: 10px;
}
a:hover{
    background-color: blanchedalmond;
    color: blue;
}
.navin ul li{
    
    display: inline;
}
ul li a{
    text-transform: uppercase;
    text-decoration: none;
}
#h1{
    position: relative;
    left: 4%;
}
h1{
position: relative;
left: 10%;
    border: 2px black hidden;
    width: fit-content;
    color: blue;
    font-size: 30px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
h1 a{
    text-decoration: none;
}
div{
    border: 2px black hidden;
position: relative;

left: 25%;
    width: 900px;
}

div p{

    border: 2px black hidden;
    width: 900px;
 color: black;
 font-size: 25px;
 font-weight: 350;
 text-justify: auto;
 margin: 0;
 padding: 0;
}
footer{
   border: 4px rgb(77, 6, 241) solid;
   position: relative;
   top: 60px;
   left: 30%;
   font-size: 25px;
 text-align: center;
 background-color: bisque;
 width: 700px;
 /* height: 500px; */
 border-radius: 60%;
 padding-top: 10px;
 animation-name: footer;
 animation-duration: 9s;
 animation-iteration-count: infinite;
 animation-delay: 4s;

}
@keyframes footer{
    0%{
        
        background-color: aqua;
    }
    25%{
        background-image: url(./icons8-html-48.png);
       
    }
    50%{
        background: url(./JavaScript-logo.png);
        translate: 300px 0;
        background-color: rgb(0, 255, 128);
        transform: rotateY(180deg);
    }
    75%{
        background: url(./JavaScript-logo.png);
        border-radius: 15%;
     
    }
    100%{
        background-image: url(./icons8-snake-48.png);

    }
}

footer ul li {

    display: inline-block;
    color: rgb(6, 10, 243);
}
aside{
    position: relative;
    animation-name: ata;
    animation-duration: 5s;
    animation-iteration-count: 3;
}
@keyframes ata{
from{
    width: 0;
    opacity: 0.9;
}
to{
    width: 450px;
    opacity: 0.3;
}
}
aside{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    
    background-image: url(./pexels-photo-270632.jpeg);
    background-size: contain;
    
    
}
div img{
    
        animation-name: ate1;
        animation-duration: 2s;
        animation-delay: 5s;
       
       background-repeat: no-repeat;
      
        
    }
    @keyframes ate1{
        from{
            opacity:0.4 ;
            height: 0px;
            
        }
        to{
            opacity: 9;
           height: 50px;
           }
    }


