.navin{
    width: 100vw;
    text-align: center;
    word-spacing: 30px;
    font-size: 40px;
  
    
    
}
a:hover{
    background-color: blanchedalmond;
    color: blue;
}
.navin ul li{
  
    display: inline;
}
ul li a{
    text-decoration: none;
}
#h1{
    position: relative;
    left: 4%;
}
h1{
position: relative;
left: 10%;
    border: 2px black hidden;
    width: fit-content;
    color: blue;
    font-size: 30px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
h1 a{
    text-decoration: none;
}
div{
    border: 2px black hidden;
position: relative;
left: 15%;
    
}

div p{

    border: 2px black hidden;
    width: 900px;
 color: black;
 font-size: 25px;
 font-weight: 350;
 text-justify: auto;
 margin: 0;
 padding: 0;
}
footer{
   border: 2px black solid;
   position: relative;
   top: 60px;
   left: 20%;
   font-size: 25px;
 text-align: center;
 background-color: bisque;
 width: 700px;
 border-radius: 40%;
 padding-top: 10px;
 
}

footer ul li {

    display: inline-block;
    color: rgb(6, 10, 243);
}
aside{
    position: relative;
}
aside{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    background-image: url(./pexels-photo-270632.jpeg);
    background-size: contain;
    
}